@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');

.navbar {
  font-family: 'Luckiest Guy', cursive;
  font-weight: 200;
  font-size: 20px;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('dark-grey-terrazzo.png');
}

.navbar-inverse a.navbar-brand {
  font-family: 'Luckiest Guy', cursive;
  font-weight: 400;
  font-size: 40px;
  color: white;
}

.hero {
  background: image_url('aaron-burden-6jYoil2GhVk-unsplash.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
}

.btn {
  border-radius: 0;
}